@import 'styles/breakpoints';

%visible {
	visibility: visible;
	opacity: 1;
}

%hidden {
	// Always visible for smaller viewports.
	@media (min-width: $breakpoint-small) {
		visibility: hidden;
		opacity: 0;
	}
}

.navbutton {
    background-color:(--id--color--white);
    border-radius:4px;
    border:solid 1px;
    border-color:(--id--color--black);
    font-weight:600;
    color:(--id--color--black);
    text-transform:uppercase;
}
